body{

    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #BBBBBB;
    padding: 20px 0;
}
.caja{
    width: 100%;
    position: relative;
}
nav{
    position: absolute;
    top: 50%;
    left: 50%;
}
nav li{
    display: inline;
    margin: 0 0 0 10px;
}
nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline ;
}
#h1tx{
    margin: 5%;
    text-align: center;
}
/* #h1tx:first-letter{
    font-weight: bold;
} */
#imgbar{
    width: 99.8%;
    height: 40%;
    border-radius: 2%;
    border: 1px solid black;
}
.principal{
    padding: 20px 50px;
    background-color: #FEFEFE;
    border-radius: 10px;

}
p{
    text-align: center;
}
#ital{
    font-size: 20px;
}
#salteado{
    color: blue;
}
.Diferenciales{
    background-color: #888888;
    width: 100%;

}
.items{
    font-size: 20px;
}
#lista{
    display: inline-block;
    vertical-align: top;
    
}
#imgdif{
    border-radius: 2%;

}
footer{
    text-align: center;
    background-image: url(imagenes/bg.jpg);
    padding: 40px;
}
.copyright{
    font-size: 13px;
    color: white;
    margin: 20px;
}

/* ultimos cambios de pagina */
.banner{
    width: 100%;
}
#h1tx{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    color: rgb(0,0,0);
    text-shadow: 1px 1px  #000;
}
.utensilios{
    width: 135px;
    float: left;
    margin: 0 20px;
}
.principal p{
    margin: 0 0 1em;
    text-align: justify;
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}
main p{
    text-align: justify;
}
.mapa{
    padding: 3em 0;
    text-align: center;
    background:linear-gradient(#FEFEFE, #888888);

}
.mapa p{
    margin: 0 0 2em;
    text-align: center;
}
.cont-difer{
    width: 80%;
    margin: auto;
}
#lista{
    width: 30%;
}
.items{
    line-height: 1.5;
}
.items:before{
    content: "⭑";
}
.items:first-child{
    font-weight: bold;
}

#imgdif{
    width: 60%;
    transition: 400ms;
    box-shadow: 10px 10px 30px 15px #000;
    
}
#imgdif:hover{
    opacity: 0.3;
    box-shadow: 10px 10px 30px 15px #000;
}
.video{
    padding:3em;
    text-align: center;
}

/* ultimos cambios */

@media screen and (max-width:900px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
        text-align: center;
    }
    .caja, .principal, .video{
        width: auto;
    }
    #lista, #imgdif{
        width: 100%;
    }
}